<h1 style="font-size: 25px; font-family: monospace;">	Yooooo mi abuelo soooooy!!!!</h1>



<% if Date.today.tuesday? %>

<p style="font-size: 25px; font-family: sans-serif;">Mi abuela fuma porros en la azote</p>
	<p style="font-size: 25px; font-family: sans-serif;">
	Izzy Ironside is <strong> NOT </strong>
	a fan of <%= Date.today %> like today.
	</p>

	<%= @greeting %>

	<%= Time.now.strftime("at %I:%M%p") %>

<% end %>